# Patcher Actions
username: "linaro"
password: "linaro"
diagnostics:
  - title: "Moonraker logs"
    shell: "sudo tail -fn 100 /home/mks/printer_data/logs/moonraker.log"
  - title: "Klipper logs"
    shell: "sudo tail -fn 100 /home/mks/printer_data/logs/klippy.log"
  - title: "Serials"
    shell: "ls -ltr /dev/serial/by-id"
  - title: "USB"
    shell: "lsusb -vt"
actions:
  - title: "Camera"
    description: "Try to wake up camera"
    steps:
      - title: "Reset dwc2"
        script: "scripts/wake-cam.sh"
        expected: ".*\\[OK\\]"
  - title: "FLUIDD"
    description: "(RE)Enable FLUIDD access"
    steps:
      - title: "Check firmware version"
        description: "Check the version of the firmware is has expected"
        script: "scripts/test-version.sh"
        expected: "Version: 1.00.1[123].00"
      - title: "Restore FLUIDD access"
        description: "Restore fluidd access"
        script: "scripts/restore-access.sh"
        expected: ".*\\[OK\\] - Restore Access.*"
      - title: "Fix access rights"
        description: "Fix access rights on printer config"
        script: "scripts/fix-access.sh"
        expected: ".*\\[OK\\] - Fix rights"
  - title: "Downgrade"
    description: "Force downgrade firmware 1.0.13.0 to 1.0.12.0"
    steps:
      - title: "Check firmware version"
        description: "Check the version of the firmware is has expected"
        script: "scripts/test-version.sh"
        expected: "Version: 1.00.13.00"
      - title: "Fix apt source"
        description: "Fix apt source list"
        script: "scripts/fix-apt.sh"
        expected: ".*\\[OK\\] - apt source list"
      - title: "Force downgrade to 1.0.12.0"
        description: "Force a downgrade of firmware to 1.0.12.0"
        script: "scripts/downgrade-firmware.sh"
        expected: ".*\\[OK\\] - downgrade"
  - title: "Community OTA"
    description: "Update/Install locally on the printer a self-hosted OTA server"
    steps:
      - title: "Check firmware version"
        description: "Check the version of the firmware is has expected"
        script: "scripts/test-version.sh"
        expected: "Version: 1.00.1[012].00"
      - title: "Update/Install OTA"
        description: "Update/Install Community OTA"
        script: "scripts/community-ota.sh"
        expected: ".*\\[OK\\]"
  - title: "Camera fixes (testing)"
    description: "Update/Install fixes for Artillery M1 Pro camera"
    steps:
    - title: "Install USB Power rules"
      description: "Fix apt source list"
      script: "scripts/usb-power.sh"
      expected: ".*\\[OK\\]"
  - title: "Community fixes (testing)"
    description: "Update/Install fixes for Artillery M1 Pro (firmware 1.0.11.0 / 1.0.12.0)"
    steps:
      - title: "Check firmware version"
        description: "Check the version of the firmware is has expected"
        script: "scripts/test-version.sh"
        expected: "Version: 1.00.1[12].00"
      - title: "Fix apt source"
        description: "Fix apt source list"
        script: "scripts/fix-apt.sh"
        expected: ".*\\[OK\\] - apt source list"
      - title: "Restore FLUIDD access"
        description: "Restore fluidd access"
        script: "scripts/restore-access.sh"
        expected: ".*\\[OK\\] - Restore Access.*"
      - title: "Fix access rights"
        description: "Fix access rights on printer config"
        script: "scripts/fix-access.sh"
        expected: ".*\\[OK\\] - Fix rights"
      - title: "Upgrade FLUIDD"
        description: "Upgrade FLUIDD to 1.34.4"
        script: "scripts/upgrade-fluidd.sh"
        expected: ".*\\[OK\\] - Using Fluidd version v1.34.4"
      - title: "Update Klipper"
        description: "Update klipper to community version"
        script: "scripts/update-klipper.sh"
        expected: ".*\\[OK\\] - Klipper update"
      - title: "Upgrade Moonraker"
        description: "Upgrade moonraker to community version"
        script: "scripts/upgrade-moonraker.sh"
        expected: ".*\\[OK\\]\\ moonraker:\\ https://github\\.com/pijalu/artillery\\-m1\\-moonraker\\.git\\ \\-\\ feature/diy\\-macros"
  - title: "Community fixes (stable)"
    description: "Update/Install fixes for Artillery M1 Pro (firmware 1.0.11.0 / 1.0.12.0)"
    steps:
      - title: "Check firmware version"
        description: "Check the version of the firmware is has expected"
        script: "scripts/test-version.sh"
        expected: "Version: 1.00.1[12].00"
      - title: "Fix apt source"
        description: "Fix apt source list"
        script: "scripts/fix-apt.sh"
        expected: ".*\\[OK\\] - apt source list"
      - title: "Restore FLUIDD access"
        description: "Restore fluidd access"
        script: "scripts/restore-access.sh"
        expected: ".*\\[OK\\] - Restore Access.*"
      - title: "Fix access rights"
        description: "Fix access rights on printer config"
        script: "scripts/fix-access.sh"
        expected: ".*\\[OK\\] - Fix rights"
      - title: "Upgrade FLUIDD"
        description: "Upgrade FLUIDD to 1.34.4"
        script: "scripts/upgrade-fluidd.sh"
        expected: ".*\\[OK\\] - Using Fluidd version v1.34.4"
      - title: "Update Klipper (Stable)"
        description: "Update klipper to community version (Stable)"
        script: "scripts/update-klipper-stable.sh"
        expected: ".*\\[OK\\] - Klipper update"
      - title: "Upgrade Moonraker"
        description: "Upgrade moonraker to community version"
        script: "scripts/upgrade-moonraker.sh"
        expected: ".*\\[OK\\]\\ moonraker:\\ https://github\\.com/pijalu/artillery\\-m1\\-moonraker\\.git\\ \\-\\ feature/diy\\-macros"
 